@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.hero-text-container {
  font-family: "Inter", sans-serif;
  color: white; 
}

.hero-text-container h1 {
  font-weight: 700; 
  font-size: 1.875rem; 
  line-height: 1.3;
}

.hero-text-container p {
  font-weight: 400; 
  font-size: 0.75rem; 
  line-height: 1.6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.nav {
  display: flex;
  width: 70%;
  margin-left: 225px; 
  justify-content: space-between;
}

.nav span img {
  object-fit: contain;
  width: 83px; 
  height: auto;
}

.navtxt {
  align-items: center;
  display: flex;
  width: 675px; 
  justify-content: space-between;
  gap: 9px;
}

.navtxt span a {
  display: flex;
  font-size: 0.8rem; 
  color: rgb(0, 0, 0);
  font-weight: 100;
  text-decoration: none;
}

.navtxt span a img {
  object-fit: contain;
  width: 15px; 
  font-weight: 100;
}

.joinbtn {
  display: flex;
  height: 53px; 
  background-color: rgb(13, 135, 220);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
  align-items: center;
  margin: 15px; 
  border-radius: 30px;
  padding: 4px 30px; 
}

.joinbtn span img {
  object-fit: contain;
  width: 15px;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.visibl {
  visibility: hidden;
}

.joinbtn:hover .visibl {
  visibility: visible;
}

.grandheroimage {
  position: relative;
  background-image: url("images/homepage.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 675px; 
}

.grandherotxt {
  position: absolute;
  width: 900px; 
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  top: 420px;
  left: 240px;
}

.grandherotxt h2 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.3;
}
.grandherotxt p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.6;
}

.grandherotxt a:nth-child(3) {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(13, 135, 220);
  padding: 11px 22px;
  width: 135px;
  border-radius: 30px;
  margin-top: 22px;
  color: rgb(255, 255, 255);
}

.grandherotxt img {
  object-fit: contain;
  width: 15px;
}

.grandherotwo {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: rgb(238, 238, 238);
  object-fit: contain;
  background-image: url("images/bluebg.png");
  background-position: center;
  background-size: cover;
  justify-items: center;
  width: 100%;
  min-height: 465px;
  margin-top: 22px;
}

.grandherotwochild {
  position: relative;
  top: 38px;
  bottom: 38px;
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.childtxt:first-child {
  width: 278px;
  line-height: 1.5;
}

.childtxt:first-child p {
  font-size: 1rem;
  font-weight: 280;
}

.childtxt:first-child a {
  display: flex;
  text-decoration: none;
  width: 225px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1.05rem;
  color: rgb(31, 73, 125);
  background-color: rgb(238, 238, 238);
  justify-content: center;
  padding: 12px 19px;
  border-radius: 30px;
  margin-top: 22px;
}

.childtxt:first-child a img {
  display: flex;
  object-fit: contain;
  width: 22px;
  justify-items: center;
}

.childtxt:last-child {
  display: flex;
  margin-left: 38px;
  flex-wrap: wrap;
  width: 795px;
  gap: 34px;
}

.population {
  width: 225px;
}

.population p:first-child {
  font-size: 3.75rem;
  font-weight: 900;
  margin-bottom: 30px;
}

.population p:last-child {
  font-size: 1rem;
  font-weight: 280;
  line-height: 1.5;
}

.afrifemale {
  position: relative;
  display: flex;
  top: 30px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
.afrifemale a {
  text-decoration: none;
}
.hidtxt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  height: 60px;
  background-color: rgb(13, 135, 220);
}

.hidtxt p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  opacity: 0.09;
}

.hidtxt:hover p {
  opacity: 1;
}

.afrifemale div {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1.05rem;
}

.afrifemale div img {
  object-fit: contain;
  width: 675px;
}

.livingparent {
  margin-top: 112px;
  margin-bottom: 38px;
}

.livingcontainer {
  position: relative;
  left: 285px;
  width: 63%;
}

.livingchild {
  display: flex;
  justify-content: space-between;
}

.livingcontainer p {
  display: flex;
  color: rgb(13, 135, 220);
  background-color: rgb(192, 231, 255);
  width: 165px;
  padding: 4px 8px;
  border-radius: 15px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
}

.livingchild h2 {
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-weight: 700;
}

.livingcontainer a {
  display: flex;
  width: 165px;
  padding: 4px 0px;
  border-radius: 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: rgb(238, 238, 238);
  border: 2px solid rgb(13, 135, 220);
  background-color: rgb(13, 135, 220);
}

.livingcontainer a:hover {
  color: rgb(13, 135, 220);
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(13, 135, 220);
}

.livingcontainer a img {
  object-fit: contain;
  width: 20px;
}

.cardcontainer {
  position: relative;
  width: 100%;
  height: 262px;
}

.tipletcards {
  position: absolute;
  top: 19px;
  left: 13%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 72%;
  gap: 19px;
  height: 225px;
}

.cards {
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  border-radius: 19px;
  width: 30%;
  height: 188px;
  padding: 15px 15px 0px 15px;
}

.cards img {
  object-fit: contain;
  width: 90px;
  height: 53px;
  padding-top: 0;
}

.cardtxt h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
}

.cardtxt p {
  margin-top: 11px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  width: 225px;
  font-weight: 300;
  line-height: 1.3;
}

.cards:nth-child(1) {
  color: rgb(238, 238, 238);
  background-color: rgb(13, 135, 220);
}

.cards:nth-child(2) .cardtxt p {
  margin-top: 11px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  width: 255px;
  font-weight: 300;
  line-height: 1.3;
}

.featuredparent {
  position: relative;
  width: 100%;
  min-height: 225px;
}

.featuredcontainer {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  position: absolute;
  top: 19px;
  left: 15%;
  width: 70%;
  height: 172px;
}

.featuredtxt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuredtxt h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
  margin-top: 15px;
  color: rgb(13, 135, 220);
}

.featuredimage {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 95%;
  top: 74px;
  left: 30px;
}

.imagechild img {
  object-fit: contain;
  width: 135px;
  filter: grayscale(40%);
  opacity: 0.5;
}

.imagechild:nth-child(3) img {
  object-fit: contain;
  width: 90px;
}

.lettercontainer1 {
  position: relative;
  width: 100%;
  min-height: 428px;
}

.newsletter {
  display: flex;
  position: absolute;
  align-items: center;
  width: 70%;
  left: 20%;
  border-radius: 8px;
  height: 428px;
}

.newsletter img {
  object-fit: contain;
  width: 375px;
}

.newstxt {
  padding: 38px 0px 0px 0px;
  width: 525px;
  height: 300px;
}

.newstxt h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
}

.newstxt p {
  line-height: 1.3;
  margin: 26px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
}

.newstxt a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.825rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  text-decoration: none;
  background-color: black;
  color: rgb(13, 134, 219);
  padding: 8px 11px;
  border-radius: 30px;
}

.newstxt a:hover {
  color: rgb(255, 255, 255);
}

.newstxt a img {
  object-fit: contain;
  width: 22px;
}

.lettercontainer2 {
  position: relative;
  width: 100%;
  min-height: 428px;
}

.newsletter2 {
  display: flex;
  position: absolute;
  align-items: center;
  width: 70%;
  left: 20%;
  border-radius: 8px;
  height: 428px;
}

.newsletter2 img {
  object-fit: contain;
  width: 300px;
}

.newstxt2 {
  margin: 0px 0px 0px 75px;
  width: 675px;
  height: 375px;
}

.newstxt2 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7rem; 
  font-weight: 600;
}

.newstxt2 p {
  width: 518px;
  line-height: 1.4;
  margin: 26px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
}

a.bluetxt {
  text-decoration: none;
  color: rgb(13, 134, 219);
}

.newstxt2 > a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 38px;
  text-decoration: none;
  background-color: black;
  color: rgb(13, 134, 219);
  padding: 8px 11px;
  border-radius: 30px;
}

.newstxt2 > a:hover {
  color: rgb(255, 255, 255);
}

.newstxt2 > a img {
  object-fit: contain;
  width: 22px;
}

.lettercontainer3 {
  position: relative;
  width: 100%;
  min-height: 428px;
}

.newsletter3 {
  display: flex;
  position: absolute;
  align-items: center;
  width: 70%;
  left: 20%;
  border-radius: 8px;
  height: 375px;
}

.newsletter3 img {
  object-fit: contain;
  width: 338px;
}

.newstxt3 {
  margin: 0px 0px 0px 75px;
  padding-top: 19px;
  width: 525px;
  height: 262px;
}

.newstxt3 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
}

.newstxt3 p {
  line-height: 1.3;
  margin: 26px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
}

.newstxt3 a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.825rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 41px;
  text-decoration: none;
  background-color: black;
  color: rgb(13, 134, 219);
  padding: 8px 11px;
  border-radius: 30px;
}

.newstxt3 a:hover {
  color: rgb(255, 255, 255);
}

.newstxt3 > a img {
  object-fit: contain;
  width: 22px;
}

.crystallum {
  width: 100%;
}

.crystallum div {
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
  margin-left: 15%;
  width: 70%;
}

.upcomingtxt {
  width: 100%;
}

.childevent {
  margin-left: 15%;
  width: 70%;
}

.childevent {
  display: flex;
  color: rgb(13, 135, 220);
  background-color: rgb(192, 231, 255);
  width: 165px; 
  padding: 4px 8px;
  border-radius: 15px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

.happeningcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  width: 70%;
}

.happeningcontainer > a {
  display: flex;
  color: rgb(13, 135, 220);
  width: 225px;
  padding: 6px 0px;
  height: 45px;
  border-radius: 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: rgb(238, 238, 238);
  border: 2px solid rgb(13, 135, 220);
  background-color: rgb(13, 135, 220);
}

.happeningcontainer a:hover {
  color: rgb(13, 135, 220);
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(13, 135, 220);
}

.happeningcontainer a img {
  width: 24px;
}

.happeningcontainer h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.imagecover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 22px 0px 45px 0px;
}

.imagess {
  display: flex;
  justify-content: space-around;
  gap: 22px;
  width: 70%;
}

.imagess > a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  width: 48%;
}

.imagess > a > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagess a p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 700;
  color: rgb(13, 135, 220);
  text-decoration: 2px solid rgb(13, 135, 220) underline;
  margin-top: 11px;
}

.bluegbcover {
  background-image: url(images/bluebgdown.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 412px;
}

.bgtxt {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bgtxt span {
  display: flex;
  color: rgb(13, 135, 220);
  background-color: rgb(192, 231, 255);
  width: 240px;
  border-radius: 15px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

.bgtxt h2 {
  width: 510px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.btns {
  position: relative;
  width: 40%;
  min-height: 15px;
}

.btns input {
  position: relative;
  left: 45px;
  width: 578px;
  height: 53px;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 30px;
}

.btns input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  padding: 15px;
  color: rgb(255, 255, 255);
}

.btns button {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 135, 220);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  position: absolute;
  top: 1px;
  right: 45px;
  width: 105px;
  height: 50px;
  border: 2px solid rgb(13, 135, 220);
  border-radius: 30px;
}

.btns button:hover {
  color: rgb(68, 68, 68);
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.blackfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 382px;
  background-color: rgb(0, 0, 0);
}

.blackfootercontain {
  width: 70%;
  min-height: 262px;
}

.firstsection {
  display: flex;
  gap: 52px;
  width: 96%;
}

.firstsection1 {
  width: 21%;
  margin-right: 75px;
}

.firstsection1 > img:first-child {
  object-fit: contain;
  margin-bottom: 38px;
  width: 150px;
}

.firstsection1 > p {
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  font-weight: 700;
}

.socialmedia {
  display: flex;
  margin: 22px 0px;
  gap: 19px;
  margin-left: 8px;
}

.socialmedia img {
  filter: invert(100%);
  object-fit: contain;
  width: 22px;
}

.socialmedia img:nth-child(3) {
  width: 11px;
}

.listitems {
  width: 100%;
  height: 150px;
}

.listitems > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: rgb(255, 255, 255);
}

.listitems ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
}

.listitems li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.86rem;
  font-weight: 650;
}

.lastsection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lastsection p {
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
}